<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>System configure</comment>
	
	<entry key="jdbc.anajo.url">jdbc:mariadb://14.47.223.219:33036/anajo</entry>
	<entry key="jdbc.anajo.dataSource">org.mariadb.jdbc.Driver</entry>
	<entry key="jdbc.anajo.hibernate.dialect">org.hibernate.dialect.MySQLDialect</entry>
	<entry key="jdbc.anajo.username">anajo</entry>
	<entry key="jdbc.anajo.password">whdksk36</entry>
	<entry key="jdbc.anajo.validation.query">SELECT 1</entry>

</properties>